# Export as extrapolated .tsv from Track Attack with all columns

In [25]:
import pandas as pd
from pathlib import Path
from os.path import abspath, dirname, split, splitext
data_path = abspath("data")

In [43]:
column_names = ['start_date', 'start_time', 'lap_number', 'session_time', 'lap_time',
       'long_acceleration', 'lattitude', 'gps_lat_acceleration',
       'heading', 'rpm', 'gps_distance', 'gps_long_acceleration',
       'lat_cceleration', 'longitude', 'gps_speed',
       'num_satellites', 'throttle_position']

In [44]:
df_dict = {}
p = Path(data_path)
for item in p.iterdir():
    if item.is_dir():
        dir_name = split(item)[1]
        first = True
        for file in item.iterdir():
            if splitext(file)[1] == '.tsv':
                if first:
                    df = pd.read_csv(file, delimiter = "\t")
                    first = False
                else:
                    df = df.append(pd.read_csv(file, delimiter = "\t"))
        df = df.reset_index(drop=True)
        df.columns = column_names
        df_dict[dir_name] = df

In [45]:
df_dict.keys()

dict_keys(['umc_east_br_4_23_21'])

In [46]:
df.columns

Index(['start_date', 'start_time', 'lap_number', 'session_time', 'lap_time',
       'long_acceleration', 'lattitude', 'gps_lat_acceleration', 'heading',
       'rpm', 'gps_distance', 'gps_long_acceleration', 'lat_cceleration',
       'longitude', 'gps_speed', 'num_satellites', 'throttle_position'],
      dtype='object')

In [47]:
df_dict['umc_east_br_4_23_21']

,start_date,start_time,lap_number,session_time,lap_time,long_acceleration,lattitude,gps_lat_acceleration,heading,rpm,gps_distance,gps_long_acceleration,lat_cceleration,longitude,gps_speed,num_satellites,throttle_position
0,2021-04-23,21:49:33,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-23,21:49:33,0,100000000,100000000,0.11,40.583207,0.000000,269.9,0.0,3.850000,0.000000,0.00,-112.375962,138.6,15.0,0.0
2,2021-04-23,21:49:33,0,200000000,200000000,0.11,40.583207,0.000000,269.9,0.0,7.700000,0.000000,0.00,-112.376008,138.6,15.0,0.0
3,2021-04-23,21:49:33,0,300000000,300000000,0.11,40.583207,0.000000,269.9,0.0,11.550000,0.000000,0.00,-112.376053,138.6,15.0,0.0
4,2021-04-23,21:49:33,0,400000000,400000000,0.11,40.583207,0.000000,269.9,0.0,15.400000,0.000000,0.00,-112.376099,138.6,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56032,2021-04-23,15:39:00,12,1513500000000,194154272812,0.14,40.583345,-0.088157,269.0,0.0,42785.713500,0.000000,0.11,-112.376363,39.7,18.0,0.0
56033,2021-04-23,15:39:00,12,1513600000000,194254272812,0.13,40.583345,0.019640,269.0,0.0,42786.816886,-0.014172,0.11,-112.376375,39.6,18.0,0.0
56034,2021-04-23,15:39:00,12,1513700000000,194354272812,0.12,40.583344,0.087934,268.1,0.0,42787.917729,-0.099206,0.11,-112.376389,39.7,18.0,0.0
56035,2021-04-23,15:39:00,12,1513800000000,194454272812,0.12,40.583344,-0.028940,269.2,0.0,42789.017347,-0.085034,0.11,-112.376402,39.5,18.0,0.0
56036,2021-04-23,15:39:00,12,1513822049006,194476321818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN